.hidden {
	visibility: hidden;
}

.mobileAlt {
	display: none;
}

#timeline {
	max-width: 960px;
}

.toggleMinimize {
	display: block;
	text-align: right;
	color: #546D89;
	text-decoration: underline;
	cursor: pointer;
	margin-bottom: 10px;
	margin-right: 15px;
}

.chart {
	/* shape-rendering: crispEdges; */
	shape-rendering: auto;
	max-width: 960px;
}

g {
	overflow: visible;
}

.xaxis path {
	stroke: #333333;
	fill: none;
	stroke-width: 2px;
}

.tick text {
	color: #333333;
	font-size: 13px;
}

/*
.main .tick text {
	font-size: 14px;
	font-weight: bold;
}

.mini .tick text {
	font-size: 13px;
}
*/

.yearItem circle, .minimized circle {
	fill: #9F1D21;
	fill-opacity: .8;
	stroke-width: 6;	
}

.yearItemLabel {
	pointer-events: none;
}

.paperItem circle {
	fill: #9F1D21;
	fill-opacity: .7;
	stroke-width: 6;	
}

.paperItem:hover {
	/* color: blue; */
	/* fill: blue; */
}

.paperLabel {
	fill: #546D89;
	color: #546D89;
	font-size: 13px;
	text-decoration: underline;
}

.joinLine {
	fill: none;
	stroke: #9F1D21;
	stroke-width: 3px;
	opacity: .3;
	pointer-events: none;
	stroke-dasharray: 5,3;
}

.brush {
	pointer-events: none;
}

circle {
	pointer-events: inherit;
}

.brush .extent {
	stroke: gray;
	fill: dodgerblue;
	fill-opacity: .365;
}

text.numIndicator {
	fill: #ffffff;
	color: #ffffff;
	font-size: 11px;
	/* font-weight: bold; */
	pointer-events: none;
}

.extentLine {
	stroke: gray;
	stroke-dasharray: 5,5;
}

.scrollItems {
	cursor: pointer;
	font-size: 1.5em;
}

.scrollItems text {
	font-size: 1em;
}

.clearBrushIcon {
	cursor: default;
	opacity: .4;
}

.ui-tooltip {
	/* font: 12px sans-serif;	 */
	/* color: #546D89; */
	color: #333333;
	font-size: 12px;
	border-radius: 2px;
	box-shadow: 2px 2px 2px;
}

.ui-tooltip p {
	margin: 0;
}

.tooltip.title {
	text-decoration: underline;
	margin-bottom: 5px;
}

.tooltip.journal {
	font-style: italic;
}

@media (max-width:640px) {
	/* portrait tablet or smaller */
	#timeline {
		display: none;
	}

	.mobileAlt {
		display: block;
	}
}
